.span-1{
    color: orangered;
}

.span-2{
    color: green;
}

.input-field{
   border: 1px solid green;
}

.button-field{
    background-color: green;
    color: aliceblue;
}

.error-field{
    background-color: #f44105d5;
    color: antiquewhite;
    border-radius: 10px ;
}

.cart-width{
    width: 95%;
}

.b-cart{
  width: 22%;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  background-color: #198728 ;
  color: antiquewhite;
  font-size: 20px;
  border-radius: 60px;
  margin-bottom: 5px;
}

 a:hover{
    color: white;
}

